/* ExploreDetail.css */
.explore-detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.explore-detail-container {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

.detail-value {
  flex-grow: 1;
}

.download-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
