.header-wrapper {
    display: flex;
    align-items: center;
    background: #0D47A1;
    color: white;
    flex-direction: row;  
    padding: 30px;  
    position: fixed;
    z-index: 111;
    width: 100%;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo img {
    height: 40px;
    margin-right: 16px;  
    margin-top: 25px;
  }
  
  .title {
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
  }
  
  .buttons {
    flex: 1;
    text-align: right;
  }
  
  .buttons button {
    margin-right: 8px;
  }
  